<a href="https://colab.research.google.com/github/vishnuprabhakar2001/python/blob/main/connecting_mysql_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F872052190>

In [ ]:
# To import database
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="root",
    database="bank"
)

In [ ]:
mycursor=mydb.cursor()
mycursor.execute("create Table customer1 (name varchar(250), address varchar(255))")

In [ ]:
# mydb=mysql.connector.connect(
#     host="localhost",
#     user="root",
#     passwd="root",
#     database="bank"
# )

# mycursor=mydb.cursor()
mycursor.execute("show tables")
for x in mycursor:
    print(x)

('bank_details',)
('bank_holidays',)
('customer',)

In [ ]:
mycursor.execute("alter table customer1 add column id int auto_increment primary key")

In [ ]:
sql="INSERT INTO customer (name,address) VALUES (%s,%s)"
val=("John","Highway 21")
mydb.commit()
print(mycursor.rowcount,"record inserted")

-1 record inserted

In [ ]:
mycursor=mydb.cursor()
sql="insert into customer (name,address) values(%s,%s)"
val=[('peter','Lowstreer 4'),
    ('Amy','apple st 652'),
     ('Chuck','sideeay 1663')
    ]
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount,"was inserted")

3 was inserted

In [ ]:
mycursor=mydb.cursor()
mycursor.execute("Select name, address from customer")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('peter', 'Lowstreer 4')
('Amy', 'apple st 652')
('Chuck', 'sideeay 1663')
('peter', 'Lowstreer 4')
('Amy', 'apple st 652')
('Chuck', 'sideeay 1663')